 <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        User
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#/"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li class="active">User</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h2 class="box-title">Add User</h2>
                        </div>
                        <!-- /.box-header -->

                        <flash-message></flash-message>

                        <form novalidate role="form" class="form-horizontal" ng-submit="doAddUser(user,UserForm.$valid)"name="UserForm">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-8 col-lg-6">
                                        <!-- text input -->

                                        <div ng-class="((UserForm.$submitted || UserForm.email.$touched ) && (UserForm.email.$error.required || UserForm.email.$error.email ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Email</label>
                                            <div class="col-sm-8">
                                              <input type="email" ng-model="user.email" name="email" class="form-control" id="email" placeholder="Email" required >
                                                <div ng-messages="UserForm.email.$error"  style="color:red"  ng-if="UserForm.email.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                    <p ng-message="email">It must be an Email.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-class="((UserForm.$submitted || UserForm.username.$touched ) && (UserForm.username.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Username</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.username" name="username" class="form-control" id="username" placeholder="username" required >
                                                <div ng-messages="UserForm.username.$error"  style="color:red"  ng-if="UserForm.username.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-class="((UserForm.$submitted || UserForm.password.$touched ) && (UserForm.password.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Password</label>
                                            <div class="col-sm-8">
                                              <input type="password" ng-model="user.password" name="password" class="form-control" id="password" placeholder="password"  ng-required="!updateContact">
                                                <div ng-messages="UserForm.password.$error"  style="color:red"  ng-if="UserForm.password.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-class="((UserForm.$submitted || UserForm.first_name.$touched ) && (UserForm.first_name.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">First Name</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.first_name" name="first_name" class="form-control" id="first_name" placeholder="First Name" required >
                                                <div ng-messages="UserForm.first_name.$error"  style="color:red"  ng-if="UserForm.first_name.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-class="((UserForm.$submitted || UserForm.last_name.$touched ) && (UserForm.last_name.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Last Name</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.last_name" name="last_name" class="form-control" id="last_name" placeholder="Last Name" required >
                                                <div ng-messages="UserForm.last_name.$error"  style="color:red"  ng-if="UserForm.last_name.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-class="((UserForm.$submitted || UserForm.mobile_no.$touched ) && (UserForm.mobile_no.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Mobile No</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.mobile_no" name="mobile_no" class="form-control" id="mobile_no" placeholder="Mobile No" required >
                                                <div ng-messages="UserForm.mobile_no.$error"  style="color:red"  ng-if="UserForm.mobile_no.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div ng-class="((UserForm.$submitted || UserForm.group_id.$touched ) && (UserForm.group_id.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Mobile No</label>
                                            <div class="col-sm-8">
                                                <select ng-model="user.group_id" class="form-control"
                                                        id="group_id" name="group_id" required aria-required="true">
                                                    <option value="" selected="selected">--Select Group--</option>
                                                    <option ng-repeat="group in groupData" value="{{ group.id }}">{{
                                                        group.group_name }}
                                                    </option>
                                                </select>

                                                <div ng-messages="UserForm.group_id.$error"  style="color:red"  ng-if="UserForm.group_id.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div ng-class="((UserForm.$submitted || UserForm.address.$touched ) && (UserForm.address.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">address</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.address" name="address" class="form-control" id="address" placeholder="Address" required >
                                                <div ng-messages="UserForm.address.$error"  style="color:red"  ng-if="UserForm.address.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div ng-class="((UserForm.$submitted || UserForm.city_name.$touched ) && (UserForm.city_name.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">City Name</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.city_name" name="city_name" class="form-control" id="city_name" placeholder="City Name" required >
                                                <div ng-messages="UserForm.city_name.$error"  style="color:red"  ng-if="UserForm.city_name.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div ng-class="((UserForm.$submitted || UserForm.state_name.$touched ) && (UserForm.state_name.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">State Name</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.state_name" name="state_name" class="form-control" id="state_name" placeholder="State Name" required >
                                                <div ng-messages="UserForm.state_name.$error"  style="color:red"  ng-if="UserForm.state_name.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div ng-class="((UserForm.$submitted || UserForm.postal_code.$touched ) && (UserForm.postal_code.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Postal Code</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.postal_code" name="postal_code" class="form-control" id="postal_code" placeholder="Postal Code" required >
                                                <div ng-messages="UserForm.postal_code.$error"  style="color:red"  ng-if="UserForm.postal_code.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>



                                        <div ng-class="((UserForm.$submitted || UserForm.employee_no.$touched ) && (UserForm.employee_no.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Employee No</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.employee_no" name="employee_no" class="form-control" id="employee_no" placeholder="Employee No" required >
                                                <div ng-messages="UserForm.employee_no.$error"  style="color:red"  ng-if="UserForm.employee_no.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div ng-class="((UserForm.$submitted || UserForm.job_title.$touched ) && (UserForm.job_title.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Job Title</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.job_title" name="job_title" class="form-control" id="job_title" placeholder="Job Title" required >
                                                <div ng-messages="UserForm.job_title.$error"  style="color:red"  ng-if="UserForm.job_title.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>



                                        <div ng-class="((UserForm.$submitted || UserForm.start_date.$touched ) && (UserForm.start_date.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Start Date</label>
                                            <div class="col-sm-8">
                                              <input type="text" datetime-picker  date-format="yyyy-MM-dd" ng-model="user.start_date" name="start_date" class="form-control" id="start_date" placeholder="Start Date" required >
                                                <div ng-messages="UserForm.start_date.$error"  style="color:red"  ng-if="UserForm.start_date.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div ng-class="((UserForm.$submitted || UserForm.leave_date.$touched ) && (UserForm.leave_date.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Leave Date</label>
                                            <div class="col-sm-8">
                                              <input type="text" datetime-picker  date-format="yyyy-MM-dd" ng-model="user.leave_date" name="leave_date" class="form-control" id="leave_date" placeholder="Leave Date" required >
                                                <div ng-messages="UserForm.leave_date.$error"  style="color:red"  ng-if="UserForm.leave_date.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div ng-class="((UserForm.$submitted || UserForm.license_no.$touched ) && (UserForm.license_no.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">license No</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.license_no" name="license_no" class="form-control" id="license_no" placeholder="license No" required >
                                                <div ng-messages="UserForm.license_no.$error"  style="color:red"  ng-if="UserForm.license_no.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div ng-class="((UserForm.$submitted || UserForm.license_region.$touched ) && (UserForm.license_region.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">license Region</label>
                                            <div class="col-sm-8">
                                              <input type="text" ng-model="user.license_region" name="license_region" class="form-control" id="license_region" placeholder="license region" required >
                                                <div ng-messages="UserForm.license_region.$error"  style="color:red"  ng-if="UserForm.license_region.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>



                                         <div ng-class="((UserForm.$submitted || UserForm.license_region.$touched ) && (UserForm.license_region.$error.required  ))?'form-group has-feedback has-error':'form-group has-feedback'">
                                            <label class="col-sm-4 control-label">Image</label>
                                            <div class="col-sm-8">
                                              <input type="file"  name="job_title" class="form-control" placeholder="image"  >
                                                <div ng-messages="UserForm.license_region.$error"  style="color:red"  ng-if="UserForm.license_region.$touched || UserForm.$submitted" role="alert">
                                                    <p ng-message="required">This is required.</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-8 col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-4">
                                                <button  type="submit" class="btn btn-primary load-button">Submit</button>
                                                <a href="#/users" class="btn btn-default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                        <!-- /form -->
                    </div>
                    <!-- /.box -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->