<!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {{ currentState.display }}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">{{ currentState.display }}</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                        <div class="nav-tabs-custom">
                            <div class="box-tools">
                                <a href="job-add" class="addlink btn btn-primary pull-right">
                                    <i class="btn-icon fa fa-plus"></i> Add Job
                                </a>
                            </div>
                            <ul class="nav nav-tabs">
                                <li ng-class="(currentState.name=='private.jobs')?'active':''"><a href="jobs">All Jobs</a></li>
                                <li ng-class="(currentState.name=='private.assigned-jobs')?'active':''"><a ng-href="assigned-jobs">Assigned Jobs</a></li>
                                <li ng-class="(currentState.name=='private.pending-jobs')?'active':''"><a href="pending-jobs">Pending Jobs</a></li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="pull-right filter-bottom-margin">
                                        <form id="changelist-search">
                                            <div class="has-feedback" style="width: 250px;">
                                                <input type="text" ng-model="search" class="form-control pull-right" placeholder="Search" autofocus />
                                                <span class="form-control-feedback fa fa-search"></span>
                                            </div>
                                        </form>
                                    </div>

                                    <form>
                                        <div class="actions pull-left filter-bottom-margin">
                                            <a href="javascript:;" class="addlink btn btn-default margin-r-5"><i class="btn-icon fa fa-trash-o"></i> Deleat All</a>
                                            <span class="action-counter" data-actions-icnt="1">{{ checkCount }} of {{ JobData.length }} selected</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped" id="example1">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center table-field-input"><input type="checkbox" ng-change="allCheckChange(selectedAllJob)" type="checkbox" ng-model="selectedAllJob" id="action-toggle"></th>
                                                        <th>Job Nbr</th>
                                                        <th>User</th>
                                                        <th>Vehicle</th>
                                                        <th>Source</th>
                                                        <th>Destination</th>
                                                        <th class="table-field-status">Job Status</th>
                                                        <th class="table-field-actions">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="job in JobData">
                                                        <td class="text-center table-field-input"><input ng-change="subCheck(job.select,job.id)"  ng-model="job.select" type="checkbox"></td>
                                                        <td>{{ (job.job_nbr)?job.job_nbr:"-" }}</td>
                                                        <td>{{ (job.user_first_name)?job.user_first_name:"-" }}</td>
                                                        <td>{{ (job.vehicle_name)?job.vehicle_name:"-" }}</td>
                                                        <td>{{ (job.job_source)?job.job_source:"-" }}</td>
                                                        <td>{{ (job.job_destination)?job.job_destination:"-" }}</td>

                                                      <td class="table-field-status"> <span ng-class="(job.job_status=='p')?'label label-warning':'label label-success'"> {{ (job.job_status_dispaly)?job.job_status_dispaly:"-" }}</span></td>


                                                        <td class="table-field-actions">
                                                            <div class="buttons-set">
                                                               <a href="job-update~index~{{ job.id }}" class="btn btn-default btn-sm btn-icon-only">
                                                                <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <!--<a href="javascript:void(0);" class="btn btn-default btn-sm btn-icon-only">-->
                                                                    <!--<i class="fa fa-info"></i>-->
                                                                <!--</a>-->
                                                                <button href="javascript:void(0);" ng-click="deletJob(job,$index)" class="btn btn-default btn-sm btn-icon-only">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>


                                                <tfoot>
                                                    <th ng-if="JobData && JobData.length==0" colspan="8"><center>No Records Found</center> </th>
                                                    <!--<th ng-if="search && filtered_result.length==0" colspan="7"><center>No Results Found " {{ search }}"</center> </th>-->
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="box-footer pagination-table">
                                            showing {{ JobData.length }} of {{ total }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->